<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
<title>Home</title>
</head>
<body>
<h1>Sinatra Sample App</h1>
<br>

<% if not @match.nil?  %>
Meaning of <b><%= params[:word] %></b> is <b><%= @match.meaning %></b>
<% elsif defined? @match and @match.nil?  %>
Word <b><%= params[:word] %></b> not found in the dictionary
<br>
<% end %>

<form action="/" method="post">
Enter the word to find the meaning: 
<input type="text" name="word" size="20" />
<input type="submit" value="Find" />
</form>
